MONGO_URL=""
DB_NAME="LifeOS"
JWT_SECRET=""
CORS_ORIGINS="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
# Optional: folder for uploaded note images
CLOUDINARY_FOLDER="NotesAppImages"